.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
  padding-top: 5px;
  overflow-wrap: break-word;
  background-color: rgba(194, 208, 203, 0.994);
}
.post h1 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.icon {
  background-color: inherit;
  height: 100px;
  width: 100%;
  font-size: 70px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  line-height: 65px;
  border-radius: 10px;
}
.noIcon {
  height: 85px;
  background-color: #eaeaea;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
