.container {
  padding: 40px;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.post {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.posted {
  width: 100%;
  margin: 10px 0;
  font-size: 0.9rem;
}
.postText {
  /* max-width: calc(600px + 10%); */
  width: 100%;
  padding: 5px 5% 150px 5%;
  overflow-wrap: break-word;
  background-color: rgba(194, 208, 203, 0.994);
  border-radius: 10px;
}
.postText p,
.postText a {
  font-size: 0.9rem;
}
.postText code {
  font-size: 0.8rem;
}
.postText hr {
  margin-bottom: 30px;
}
.title {
  margin: 20px 0 30px 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.icon {
  background-color: inherit;
  height: 100px;
  width: 100%;
  font-size: 70px;
  padding: 10px;
  margin: 0 auto;

  text-align: center;
  line-height: 65px;
  border-radius: 10px;
}
.noIcon {
  height: 85px;
  background-color: #eaeaea;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 0 20px;
    padding-top: 20px;
  }

  .postText {
    /* max-width: calc(600px + 10%); */
    width: 100%;
    padding: 5px 2.5% 150px 2.5%;
    overflow-wrap: break-word;
    background-color: rgba(194, 208, 203, 0.994);
    border-radius: 10px;
  }
  .postText p,
  .postText a {
    font-size: 0.8rem;
  }
  .postText code {
    font-size: 0.7rem;
  }
}
