.container {
  padding: 60px 40px;
}

.links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.avatar img {
  margin: 0 auto;
  height: 300px;
}

.name {
  text-align: center;
  margin: auto;
  display: flex;
  width: 350px;
}

.name a {
  color: inherit;
}
@media (max-width: 560px) {
  .container {
    padding: 60px 10px;
  }
  .avatar img {
    margin: 0;
    max-width: 100%;
    padding: 0 10px;
    object-fit: contain;
  }
}
@media (max-width: 360px) {
  .name {
    margin: 0;
    padding: 0 30px;
    width: auto;
    word-break: break-all;
  }
  .name svg {
    height: 30px;
    width: 30px;
  }
}
