.header {
  display: block;
  min-height: 64px;
  padding: 0.8em 20px;
  text-align: center;
  letter-spacing: -0.02em;
  background-color: rgb(224, 218, 175);
  margin-bottom: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
}

.header ul {
  list-style: none;
  padding: 0;
}
.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header :global(a) {
  color: var(--accents-3);
  font-weight: 400;
}

.header :global(a.active) {
  color: #0070f3;
  font-weight: 600;
}
@media (max-width: 770px) {
  .header {
    grid-column: 1/ 4;
    grid-row: 1/ 2;
  }
}
@media (max-width: 450px) {
  .header {
    grid-column: 1/ 4;
    grid-row: 1/ 2;
  }
}
