.container {
  background-color: rgb(34, 32, 32);
  width: 285px;
  padding: 0.75rem;
  display: block;
  border-radius: 10px;
  grid-column: 4/ 5;
  grid-row: 3 / 4;
}
.firstContent {
  background-color: rgb(217, 200, 200);
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  height: 400px;
}
.secondContent {
  width: 100%;
  height: 600px;
  background-color: rgb(144, 80, 80);
}
.text {
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto 20px;
  font-size: 2rem;
  color: black;
  display: block;
  width: 90px;
}
@media (max-width: 770px) {
  .container {
    width: 100%;
    grid-column: 2/ 3;
    grid-row: 5/ 6;
  }
  .firstContent {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .secondContent {
    display: none;
  }
}
@media (max-width: 450px) {
  .container {
    grid-column: 2 / 3;
    grid-row: 5/ 6;
  }
}
